<div class="modal-header">
	<h4 class="modal-title pull-left">{{title}}</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
		<form  [formGroup]="form">
			<div class="form-group mt-3">
				<label for="">Logo {{ 'SIDEBAR.BRAND' | translate}}</label>
				<input #logo id="logo" type="file"  class="form-control-file" (change)="onChangeInput($event,logo)">
				<div id="loader_logo" class="loader" ></div>
				<div class="image_thumbnail">
					<img [src]="logo_image" alt="">
				</div>
			</div>
			<div class="form-group mt-3">
				<label for="">{{ 'TABLE.IMAGE_COVER' | translate }} {{ 'SIDEBAR.BRAND' | translate}}</label>
				<input #image_cover id="image_cover" type="file" class="form-control-file" (change)="onChangeInput($event,image_cover)">
				<div #loader_cover id="loader_cover" class="loader" ></div>
				<div class="image_thumbnail">
					<img [src]="cover_image" alt="">
				</div>
			</div>
			<mat-form-field class="" appearance="fill">
				<label>{{ 'TABLE.NAME' | translate}}</label>
				<input type="text" [(ngModel)]="brand.name" name="name" formControlName="name" matInput placeholder="{{ 'TABLE.NAME' | translate}} {{ 'SIDEBAR.BRAND' | translate}}">
			</mat-form-field>
			<mat-form-field class="" appearance="fill">
				<label>{{ 'TABLE.PHONE' | translate}}</label>
				<input type="text" [(ngModel)]="brand.phone" name="phone" formControlName="phone"  matInput placeholder="0987-9865-9989">
			</mat-form-field>
			<mat-form-field class="" appearance="fill">
				<label>{{ 'TABLE.ADDRESS' | translate}}</label>
				<input type="text" [(ngModel)]="brand.address" name="address" formControlName="address"  matInput placeholder="">
			</mat-form-field>
			
		</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
	<button type="button" class="btn btn-primary" (click)="onSubmit()">{{actionBtnName}}</button>
</div>