<div class="row">
  <div class="title">Brands</div>
  <mat-card class="card-common mb-2">
    <div class="row">
      <div class="col-1 float-right ml-auto">
        <button mat-raised-button color="primary" class="btn-primary">{{ "ADD" | translate }}</button>
      </div>
    </div>
  </mat-card>
  <mat-card class="card-common">
    <div class="row">
      <div class="col-3">
        <mat-form-field class="" appearance="fill">
          <label for="">{{ "TABLE.NAME" | translate }}</label>
          <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="" appearance="fill">
          <label for="">{{ "TABLE.PHONE" | translate }}</label>
          <input matInput type="text">
        </mat-form-field>
      </div>

      <div class="col-1 d-flex justify-content-center align-items-center">
        <button mat-raised-button color="primary" class="btn-primary">Search</button>
      </div>
    </div>
  </mat-card>
</div>
<div class="row">

  <div class="col-12">
    <ngx-datatable class="material fullscreen" [rows]="brands" columnMode="force" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true">
      <ngx-datatable-column name="Logo" [width]="50"></ngx-datatable-column>
      <ngx-datatable-column name='{{ "TABLE.NAME" |translate }}' [width]="100" prop="name"></ngx-datatable-column>
      <ngx-datatable-column name='{{ "TABLE.IMAGE" |translate }}' [width]="300" prop="cover_image"></ngx-datatable-column>
      <ngx-datatable-column name='{{ "TABLE.PHONE" |translate }}' [width]="100" prop="phone"></ngx-datatable-column>
      <ngx-datatable-column name='{{ "TABLE.ADDRESS" |translate }}' [width]="100" prop="address"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>