@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/themes/material.css";
@import "~@swimlane/ngx-datatable/release/assets/icons.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
ngx-datatable.material {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ngx-datatable .datatable-footer .datatable-pager .pager, .ngx-datatable .datatable-footer .datatable-pager .pager {
  display: flex !important;
  float: right;
}
.datatable-row-center.datatable-row-group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
mat-card.card-common.mat-card {
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
}

.title {
  margin-bottom: 25px;
}

.mat-form-field-infix {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.mat-form-field {
  width: 100%;
}

.image_thumbnail {
  width: 250px;
  height: auto;
  margin-top: 20px;
}
.image_thumbnail img {
  width: 100%;
  overflow: hidden;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
  margin-top: 10px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active {
  display: block !important;
}
