<div class="container-fluid">
  <div class="wrapper-login cross">
      <div class="title">
          user login
      </div>
      <div class="form-login">
          <form action="" [formGroup]="form">
              <div class="form-group from-gr">
                  <span class="span-input"><i class="far fa-user"></i></span>
                  <input type="text" name="email" formControlName="email"
                      class="form-control input-control" placeholder="Email">
              </div>
              <div class="form-group from-gr">
                  <span class="span-input"><i class="fas fa-unlock-alt"></i></span>
                  <input type="password" name="password" 
                      formControlName="password" class="form-control input-control" placeholder="password" autocomplete="on">
              </div>
              <div class="form-group text-center">
                  <button class="btn btn-login" type="submit">Login</button>
              </div>
          </form>
      </div>
  </div>
</div>