<div class="navbar-default sidebar nicescroll" role="navigation">
  <div class="sidebar-nav navbar-collapse ">
      <ul class="nav" id="side-menu">
          <li class="sidebar-search hidden-sm hidden-md hidden-lg">
              <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="ti-search"></i> </button>
                  </span>
              </div>
          </li>
          <li>
              <a href="dashboard.html" class="waves-effect"><i class="glyphicon glyphicon-fire fa-fw"></i>
                  Dashboard</a>
          </li>
          <li>
              <a href="profile.html" class="waves-effect"><i class="ti-user fa-fw"></i>Profile</a>
          </li>
          <li>
              <a href="basic-table.html" class="waves-effect"><i class="ti-layout fa-fw"></i>Basic-Table</a>
          </li>
          <li>
              <a href="themifyicon.html" class="waves-effect"><i class="ti-face-smile fa-fw"></i> Icons</a>
          </li>
          <li>
              <a href="map-google.html" class="waves-effect"><i class="ti-location-pin fa-fw"></i> Google
                  Map</a>
          </li>
          <li>
              <a href="blank.html" class="waves-effect"><i class="ti-files fa-fw"></i> Blank Page</a>
          </li>
          <li>
              <a href="404.html" class="waves-effect"><i class="ti-info fa-fw"></i> Error 404</a>
          </li>
      </ul>
      <div class="center p-20">
          <span class="hide-menu"><a href="http://wrappixel.com/templates/myadmin/" target="_blank"
                  class="btn btn-info btn-block btn-rounded waves-effect waves-light">Upgrade to
                  Pro</a></span>
      </div>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.sidebar-collapse -->